@charset "utf-8";
@import "normalize";

body {
  max-width: 60em;
  margin: 0em auto;
  padding: 0em 1em;
}

a,a:visited {
  color: red;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  margin-right: 1em;
}

img {
  max-width: 100%;
}
